<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic Vue Js - HelloWorld App</title>
    <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
    <!-- Using via Google Web Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- https://tailwindcss.com/docs/installation -->
    <!-- Using Tailwind via CDN -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@next"></script>
    <link href="mycss.css" rel="stylesheet">
</head>

<body>
    <div id="app" class="h-screen h-ful w-screen bg-blue-200 flex items-center">
        <div class="h-auto w-3/6 shadow shadow-lg bg-white mx-auto rounded-md p-5 text-gray-700">
            <div class="relative flex items-center">
                <p class="font-extrabold text-lg">Pokédex Gallery | LIKE : {{ countLike }}</p>
                <div class="absolute right-0  flex items-center">
                    <div class="" v-show="search">
                        <input type="text" placeholder=" Enter for search" v-model="searchText"
                            class=" m-3 py-2 px-2 mt-5 font-san border-2 border-gray-300 rounded-md right-0">
                        <span class="p-2 text-white font-bold  mr-2 bg-red-400 rounded-md cursor-pointer"
                            @click="searchText = ''">Cancel</span>
                    </div>
                    <span class="material-icons text-3xl text-pink-400 cursor-pointer" @click="toggleSearch">
                        search
                    </span>
                </div>
            </div>

            <div v-for="(item, index) in filterText" :key="index">
                <div class="relative w-full text-gray-700 font-san flex flex-col justify-center items-center" v-show="item.show">
                    <div class="relative w-3/12 flex flex-col justify-center items-center mt-10">
                        <img v-bind:src="item.src" alt="image" class="w-full bg-black rounded-full cursor-default">
                        <span class="absolute material-icons cursor-pointer font-bold right-0 top-0"
                            @click="toggleShow(index)">close
                        </span>
                    </div>
                    <span class="absolute material-icons cursor-pointer font-bold text-3xl right-52" @click="toggleShow(index+1)" >
                        navigate_next
                    </span>
                    <span class="absolute material-icons cursor-pointer font-bold text-3xl left-52" @click="toggleShow(index-1)">
                        navigate_before
                    </span>
                </div>
            </div>

            <div v-for="(item, index) in filterText" :key="index"
                :class="[item.show ? 'hidden' : 'flex flex-col justify-center items-center w-full mt-5']" v-if="filterText.length > 0">
                <div class="w-2/12 text-gray-700 font-san flex flex-col justify-center items-center">
                    <div class="w-full flex flex-col justify-center items-center">
                        <img v-bind:src="item.src" alt="image" @click="toggleShow(index)" class="w-full cursor-pointer">
                    </div>
                </div>

                <div class="flex flex-col items-center">
                    <button
                        class="bg-pink-400 text-white flex justify-center items-center font-semibold px-3 mt-2 rounded-md focus:outline-none"
                        v-on:click="toggleLike(index)">
                        LIKE
                        <span class="material-icons text-white text-xl ml-1" v-show="item.like">favorite</span>
                        <span class="material-icons text-white text-xl ml-1" v-show="!item.like">favorite_border</span>
                    </button>

                    <p class="p-3 my-auto text-sm"> {{item.detail}}</p>
                </div>
            </div>

            <div class="w-full text-gray-700 font-san flex flex justify-center items-center mx-auto" v-else>
                <p class="p-5 text-5xl font-bold mt-10 text-gray-300">NOT FOUND!!</p>
            </div>
        </div>
    </div>
    <!-- my main.js -->

    <script src="main.js"></script>
</body>

</html>